In [27]:
import os
import pygame
import pandas as pd

#Import
lab = pd.read_csv('P3-Labyrinthe.csv', delimiter=";", header=None, na_filter=False)
#Check later there is no single tile
#print(lab.loc[2,1]+lab.loc[2,0])
lab

1

   0  1  2  3  4  5  6  7  8  9  10 11 12 13  14
0   1     1     1           1  1  1     1      1
1   1  1  1  1  1  1     1  1     1     1  1   1
2      1     1  1        1        1  1  1      1
3            1     1  1  1     1  1     1      1
4      1     1  1        1  1  1  1     1  1   1
5   1  1     1  1  1  1  D              1      1
6   1              1        1  1  1  1  1      1
7   1     1     1  1           1        1      1
8   1  1  1  1     1  1  1  1  1        1      1
9         1        1           1               1
10        1  1  1  1     1  1  1     1  1  1   1
11  1        1           1  1           1      1
12  1  1  1  1     1  1  1  1     1  1  1      1
13     1     1  1  1        1        1  1      1
14     A           1  1  1  1  1  1  1     1   1