## fonction qui marche

## Essai avec numpy et A / D

In [10]:
import numpy as np

def access_tiles(file):
    #empty list
    departure = classic_tiles = arrival = []
    row_ind = 0
    #open csv file
    data = np.loadtxt(file,dtype=str, delimiter=';')
    # iterate on rows and cols to get accessible tiles
    for row in data:
        col_ind = 0
        for cell in row:
            if cell == '1':
                classic_tiles.append((row_ind, col_ind))
            elif cell == '':
                None
            elif cell == 'A':
                arrival.append((row_ind, col_ind))
            else:
                departure.append((row_ind, col_ind))
            col_ind += 1
        row_ind +=1
    return classic_tiles.append(arrival)+departure
    #return complete list

free_tiles = access_tiles('Structure.csv')
print(free_tiles)

None

In [18]:
import numpy as np

def access_tiles(file):
    #empty list
    values = []
    row_ind = 0
    #open csv file
    data = np.loadtxt(file,dtype=str, delimiter=';')
    # iterate on rows and cols to get accessible tiles
    for row in data:
        col_ind = 0
        for cell in row:
            if cell == '1':
                values.append((row_ind, col_ind))
            col_ind += 1
        row_ind +=1
    #return complete list
    return values

free_tiles = access_tiles('Structure.csv')

In [29]:
import numpy as np

def access_tiles2(file):
    #empty list
    departure = []
    classic_tiles = []
    arrival = []
    row_ind = 0
    #open csv file
    data = np.loadtxt(file,dtype=str, delimiter=';')
    # iterate on rows and cols to get accessible tiles
    for row in data:
        col_ind = 0
        for cell in row:
            #J'AURAIS AIMÃ‰ FAIRE UN CASE MAIS CE N'EST PAS POSSIBLE
            #ET AVEC UN DICTIONNAIRE, J'AI L'IMPRESSION QUE JE NE PEUX PAS METTRE DE ROW_IND COL_IND
            if cell == '1':
                classic_tiles.append((row_ind, col_ind))
            else:
                if cell == 'D':
                    departure.append((row_ind, col_ind))
                else:
                    if cell == 'A':
                        arrival.append((row_ind, col_ind))
            col_ind += 1
        row_ind +=1
    #return complete list
    return (departure, classic_tiles, arrival)

free_tiles = access_tiles2('Structure.csv')
free_tiles[1]

[(0, 0),
 (0, 2),
 (0, 4),
 (0, 8),
 (0, 9),
 (0, 10),
 (0, 12),
 (0, 14),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 10),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 1),
 (2, 3),
 (2, 4),
 (2, 7),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 14),
 (3, 1),
 (3, 3),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 9),
 (3, 10),
 (3, 12),
 (3, 14),
 (4, 1),
 (4, 3),
 (4, 4),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (4, 12),
 (4, 13),
 (4, 14),
 (5, 0),
 (5, 1),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 12),
 (5, 14),
 (6, 0),
 (6, 5),
 (6, 7),
 (6, 8),
 (6, 9),
 (6, 10),
 (6, 11),
 (6, 12),
 (6, 14),
 (7, 0),
 (7, 2),
 (7, 4),
 (7, 5),
 (7, 9),
 (7, 12),
 (7, 14),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 12),
 (8, 14),
 (9, 2),
 (9, 5),
 (9, 9),
 (9, 12),
 (9, 14),
 (10, 2),
 (10, 3),
 (10, 4),
 (10, 5),
 (10, 7),
 (10, 8),
 (10, 9),
 (10, 11),
 (10, 12),
 (10, 13),
 (10, 14),
 (11, 0),
 (11, 3),
 (11, 7),
 (11, 8),
 (11, 12),
 (11, 14),
 (12, 0),
 (12, 1),
 (12, 2),
 (12, 3),
 (12, 5),
 (12, 6),
 (12, 7),
 (12, 8),
 (12, 10),
 (12, 11),
 (12, 12),
 (12, 14),
 (13, 1),
 (13, 3),
 (13, 4),
 (13, 5),
 (13, 8),
 (13, 11),
 (13, 12),
 (13, 14),
 (14, 5),
 (14, 6),
 (14, 7),
 (14, 8),
 (14, 9),
 (14, 10),
 (14, 11),
 (14, 12),
 (14, 13),
 (14, 14)]

## Essai avec Pandas

In [15]:
import os
import pygame
import pandas as pd

#Import
lab = pd.read_csv('Structure.csv', delimiter=";", header=None, na_filter=False)
#Check later there is no single tile
#print(lab.loc[2,1]+lab.loc[2,0])
lab

   0  1  2  3  4  5  6  7  8  9  10 11  12 13  14
0   1     1     1           1  1  1      1      1
1   1  1  1  1  1  1  1  1  1     1      1  1   1
2      1     1  1        1        1  1   1      1
3      1     1     1  1  1     1  1      1      1
4      1     1  1        1  1  1  1      1  1   1
5   1  1     1  1  1  1  D               1      1
6   1              1     1  1  1  1  1   1      1
7   1     1     1  1           1         1      1
8   1  1  1  1     1  1  1  1  1         1      1
9         1        1           1         1      1
10        1  1  1  1     1  1  1     1   1  1   1
11  1        1           1  1            1      1
12  1  1  1  1     1  1  1  1     1  1   1      1
13     1     1  1  1        1        1   1      1
14     A           1  1  1  1  1  1  1   1  1   1